
@font-face {
  font-family: Sourcesanspro-light;
  src: url('../fonts/sourcesanspro-light-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
